 <table>
   <tr>
     <td>Name</td>
     <td>Genre</td>
     <td>Artist</td>
   </tr>
 
 {{#each song as |songs| }}
 
   <tr>
     <td>{{songs.name}}</td>
     <td>{{songs.genre}}</td>
     <td>{{songs.artist}}</td>
   </tr>
 
 {{/each}} 
</table>
 