<body>
    <header>
     Sign up to Listen!
    </header>
      <hr>
      <section>
        <form class="info-fields" action="/action_page.php">
          <label>First and Last name:</label><br><br>
          <input type="text" id="f-lname"><br><br>
          <label for="username">Username:</label><br><br>
          <input type="text" id="username"><br><br>
          <label for="email">Email:</label><br><br>
          <input type="text" id="email"><br><br>
          <label for="password">Password:</label><br><br>
          <input type="text" id="password"><br><br>
          <label for="confirm-password">Confirm Password:</label><br><br>
          <input type="text" id="con-pswrd"><br><br>
        </form>
        <button class="sub-btn">Ready to Listen</button>
      </section>
  </body>