<div class="col-8">
                            <label>PLAYLIST</label>
                            <h2 class="title">{{playlists.name}}</h2>
                            <button class="btn btn-dark sf-btn-default">
                                <span class="fa fa-heart-o"> LIKE PLAYLIST</span>
                            </button>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <div style="height: 300px; overflow: auto">
                                <table class="table">
                                    <thead>
                                        <th>Artist</th>
                                        <th>Like Song</th>
                                        <th>TITLE</th>
                                        <th>GENRE</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{song.artist}}</td>
                                            <td>
                                            <button class="btn btn-dark sf-btn-default-3">
                                                <span class="fa fa-heart-o"></span>
                                                </button>
                                            </td>
                                            <td>{{song.name}}</td>
                                            <td>{{song.genre}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
3:17
<div class="px-6 py-3">
<div class="px-6 py-3 flex items-center justify-between">
    <div class="container px-6 py-3">
        <h1 class="text-2xl font-semibold text-white tracking-wide hover:underline">EXPLORE</h1>
        <h2 class="text-sm text-lightest">Playlists, here to stay</h2>
    </div>
        <div class="container px-6 py-3">
            <div class="row">
            <div class="card animate__animated animate__fadeInRight" style="width: 14rem; background-color: black;">
                <img class="card-img-top" src="images/lofi-ghibli.jpg" alt="lofi-ghibli">
                <div class="card-body">
                <h5 class="card-title" style="color: white">STUDYING</h5>
                <p class="card-text" style="color: white"> Want some chill background music for your productive sessions?</p>
                <a href="#" class="btn btn-primary">CHECK OUT PLAYLIST</a>
                </div>
            </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-1s" style="width: 14rem; background-color: black;">
                <img class="card-img-top" src="images/workout.jpg" alt="workout" style="height: 125px">
                <div class="card-body">
                <h5 class="card-title" style="color: white">WORKING OUT</h5>
                <p class="card-text" style="color: white">Need some music to keep you pumped and going?!</p>
                <a href="#" class="btn btn-primary">CHECK OUT PLAYLIST</a>
                </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-2s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="images/ratatouille.jpg" alt="ratatouille">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">COOKING</h5>
                    <p class="card-text" style="color: white">Your dishes don't have to be the only thing filled with heat!</p>
                    <a href="#" class="btn btn-primary">CHECK OUT PLAYLIST</a>
                    </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-3s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="images/cruisin.jpg" alt="cruisin">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">CRUISIN'</h5>
                    <p class="card-text" style="color: white">Going on a drive with the homies and need some good vibes?</p>
                    <a href="#" class="btn btn-primary">CHECK OUT PLAYLIST</a>
                    </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-4s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="images/serotonin.jpg" alt="serotonin">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">SEROTONIN BOOST</h5>
                    <p class="card-text" style="color: white">Filled with energetic feel-good songs to lift up spirits!</p>
                    <a href="#" class="btn btn-primary">CHECK OUT PLAYLIST</a>
                    </div>
            </div>
        </div>
</div>
<div class="px-6 py-3">
    <div class="px-6 py-3 flex items-center justify-between">
        <div class="container px-6 py-3">
            <h1 class="text-2xl font-semibold text-white tracking-wide hover:underline">LIKED PLAYLISTS </h1>
        </div>
        <div class="container px-6 py-3">
            <div class="row">
            <div class="card" style="width: 14rem; background-color: black;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: white">Card title</h5>
                <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-1s" style="width: 14rem; background-color: black;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: white">Card title</h5>
                <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-2s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">Card title</h5>
                    <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-3s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">Card title</h5>
                    <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-4s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">Card title</h5>
                    <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
    </div>
    <script src=
    "https://code.jquery.com/jquery-3.2.1.slim.min.js">
      </script>
        <script src=
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
      </script>
</body>
      </html>





