<div class="px-6 py-3">
<div class="px-6 py-3 flex items-center justify-between">
    <div class="container px-6 py-3">
        <h1 class="text-2xl font-semibold text-white tracking-wide hover:underline">EXPLORE</h1>
        <h2 class="text-sm text-lightest">Playlists, here to stay</h2>
    </div>
        <div class="container px-6 py-3">
            <div class="row">
            <div class="card animate__animated animate__fadeInRight" style="width: 14rem; background-color: black;">
                <img class="card-img-top" src="images/album02.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: white">listen for when you study</h5>
                <p class="card-text" style="color: white"> Want some chill background music for your productive sessions?</p>
                <a href="#" class="btn btn-primary">LISTEN</a>
                </div>
            </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-1s" style="width: 14rem; background-color: black;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: white">Card title</h5>
                <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-2s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">Card title</h5>
                    <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-3s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">Card title</h5>
                    <p class="card-text" style="color: white"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-4s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">Card title</h5>
                    <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
</div>
<div class="px-6 py-3">
    <div class="px-6 py-3 flex items-center justify-between">
        <div class="container px-6 py-3">
            <h1 class="text-2xl font-semibold text-white tracking-wide hover:underline">LIKED PLAYLISTS </h1>
        </div>
        <div class="container px-6 py-3">
            <div class="row">
            <div class="card" style="width: 14rem; background-color: black;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: white">Card title</h5>
                <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-1s" style="width: 14rem; background-color: black;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: white">Card title</h5>
                <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-2s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">Card title</h5>
                    <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-3s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">Card title</h5>
                    <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card animate__animated animate__fadeInRight animate__delay-4s" style="width: 14rem; background-color: black;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title" style="color: white">Card title</h5>
                    <p class="card-text" style="color: white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
    </div>
    <script src=
    "https://code.jquery.com/jquery-3.2.1.slim.min.js">
      </script>
        <script src=
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
      </script>


