 <div class="container-fluid">
            <div class="row">
                <div class="col-2 sf-gray-primary">
                    <button class="hamburger" id="hamburger">
                        <i class="fas fa-bars"></i>
                    </button>
                    <ul class="list-group">
                        <li class="list-group-item sf-list-group-item">
                            <span class="fa fa-home"></span>
                            Home
                        </li>
                        <li class="list-group-item sf-list-group-item">
                            <span class="fa fa-search"></span>
                            Explore
                        </li>
                        <li class="list-group-item sf-list-group-item">
                            <span class="fa fa-folder-open"></span>
                            Create New Playlist
                        </li>
                    </ul> 
                       
                    <label>Your Library
                    </label>                
                    <ul class="list-group">
                        <li class="list-group-item sf-list-group-item">Liked Playlists</li>
                       
                        <li class="list-group-item sf-list-group-item">Songs You Liked</li>
                        <li class="list-group-item sf-list-group-item">Your Playlists</li>
    
                    </ul>
                    <br/>
                    <br/>
                    
                </div>
                <div class="col-10 sf-playlist">
                    <br/>
                    <div class="row">
                        <div class="col-3">
                            <input class="form-control sf-input" placeholder="Search here"/>
                        </div>
                         
                        <div class="col-2">
                           
                            <div class="dropdown">
                                <button class="btn dropdown-toggle sf-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="images/staylists-logo.png" class="img-fluid"/>
                                </button>
                                <div class="dropdown-menu sf-dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  
                                    <a class="dropdown-item sf-dropdown-item" href="#">Private Session</a>
                                    <a class="dropdown-item sf-dropdown-item" href="#">Settings</a>
                                    <a class="dropdown-item sf-dropdown-item" href="#">Close session</a>
                                </div>
                            </div>
                        </div>                 
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-4">
                            
                            <h4 class="title">Porter Robinson</h4>
                        </div>
                   
                    </div>
                    <br/>

               

                    <br/>
                    <div class="row">
                        <div class="col-4">
                          
                            <img src="images/album02.jpg" class="img-fluid animate__animated animate__fadeInLeft"/>
                        </div>
                       
                        <div class="col-8">
                            <label>2014</label>
                            <h2 class="title">Worlds</h2>
                            <button class="btn btn-dark sf-btn-default">
                                <span class="fa fa-heart-o"></span>
                            </button>
                           
                            <!-- <button class="btn btn-dark btn-block sf-btn-primary">FOLLOW</button> -->
                        
                           

                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-12">
                            <div style="height: 300px; overflow: auto">
                                <table class="table">
                                    <thead>
                                        
                                        <th></th>
                                        <th>TITLE</th>
                                        <th></th>
                                        
                                    </thead>
                                    <tbody>
                                        <!-- LATER FOR BACKEND, we will need to replace these song placeholders with actual
                                        songs taken from user data -->
                                        {{#each song as |song| }}

                                        
                                        <tr>
                                         
                                            <td>
                                                <button class="btn btn-dark sf-btn-default">
                                                <span class="fa fa-heart-o"></span>
                                                </button>
                                            </td>
                                            <td>Divinity (featuring Amy Millan)</td>
                                            <td>6:08</td>
                                            <td></td>
                                        </tr>


                                         <tr>
                                         
                                            <td>
                                                <button class="btn btn-dark sf-btn-default">
                                                <span class="fa fa-heart-o"></span>
                                                </button>
                                            </td>
                                            <td>{{song.name}}</td>
                                            <td>{{song.duration}}</td>
                                            <td></td>
                                        </tr>
                                             
                                                                                                                                                                                                                                                                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Future implementation of a social aspect: maybe a chat / to see what others are 
                    listening to in real time -->
                <!-- <div class="col-2 sf-gray-primary">
                    <div style="text-align: center; margin-top: 100%">
                        <h5 class="title">See what your friends are listening to</h5><br/>
                        <button class="btn btn-dark sf-btn-default">MEET FRIENDS</button>        
                    </div>
                </div> -->
            </div>


           


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>