<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h3>playlist</h3>

    <form class='form new-playlist-form'>
      <div class='form-group'>
        <label for='playlist-name'>playlist name:</label>
        <input
          class='form-input'
          type='text'
          id='playlist-name'
          name='playlist-name'
        />
      </div>
      <div class='form-group'>
        <label for='playlist-funding'>needed funding ($):</label>
        <input
          class='form-input'
          type='number'
          id='playlist-funding'
          name='playlist-funding'
        />
      </div>
      <div class='form-group'>
        <label for='playlist-desc'>description:</label>
        <textarea
          class='form-input'
          id='playlist-desc'
          name='playlist-desc'
        ></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Create</button>
      </div>
    </form>
  </div>

  {{#if playlist.length}}
    <div class='col-md-6 song-list'>
      <h3>Current playlist:</h3>

      {{#each playlist as |playlist|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4><a href='/playlist/{{playlist.id}}'>{{playlist.name}}</a></h4>
          </div>
          <div class='col-md-4'>
            <button
              class='btn btn-sm btn-danger'
              data-id='{{playlist.id}}'
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src='./js/profile.js'></script>