* {
    margin: 5px;
    padding: 0px;
    background-image: url("staylist-bckgrnd.jpeg");
    background-position: center;
}

header {
    text-align: center;
    margin: 2rem;
    font-size: 35px;
    animation: bounce;
    animation-duration: 1.3s;
}

hr {
    margin: 3rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.music-logo {
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 2rem;
}

p {
    text-align: center;
}

.music-logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.second-br {
    margin: 3rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.add-music {
    margin: 2rem;
    font-size: 18px;
}

.sub-btn {
    position: absolute;
    right:    0;
    bottom:   0;
    margin: 3rem;
    font-size: 18px;
}

.exit-btn {
    position: absolute;
    left:    0;
    bottom:   0;
    margin: 3rem;
    font-size: 18px;
}